@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	--primary-font: "Montserrat", sans-serif;
	--secondary-font: "Varela", sans-serif;
	--primary-color: rgb(233,124,156);
	--secondary-color: rgb(97,145,176);


}

