/* Monsterrat google font import*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/*Global variable*/
:root {
  --primary-font: "Montserrat", sans-serif;
  --secondary-font: "Varela", sans-serif;
  --primary-color: rgb(49, 81, 102);
  --secondary-color: rgb(168, 180, 211);
  /* corresponds to ei sn tf and jp to apply to h2 text headers and selection on test forms"*/
 /*e vs i*/
  --extraversion-color: 96, 63, 120;
  --introversion-color: 97, 145, 176;
  --sensing-color: 88, 146, 115;
  --intuition-color: 151, 128, 167;
  --thinking-color: 233, 124, 156;
  --feeling-color: 6, 82, 132;
  --judging-color: 165, 17, 29;
  --perceiving-color: 1, 87, 42;
}


/*font text color and background color for page*/
body {
  font-family: var(--primary-font);
  
  background-color: var(--secondary-color);
}
/*main headings stlye*/
h1,
h2,
h3 {
  font-family: var(--secondary-font);
  color: rgb(2, 18, 29);
  text-align: center;
}
/*Navbar styling*/
.custom-navbar {
  background-color: var(--primary-color);
  color: white;
}
/*centre alignment for homepage*/
.index-page .container {
  text-align: center;
}
/*image section stylinh*/
.image-section {
  background-color: var(--secondary-color);
  color: rgb(16, 12, 19);
}
/*image section - responsive full width with a max width*/
.image-section img {
  width: 100%;
  height: auto;
  max-width: 800px;
}

/*device scaling for image*/
@media (max-width: 768px) {
  .image-section img {
    width: 90%;
    max-width: 500px;
  }
}

@media (max-width: 480px) {
  .image-section img {
    width: 100%;
  }
}


/* boostrap quiz form override styles for optimised width on larger screens*/

#quiz-form {
  max-width: 700px;
  margin: auto;
  padding: 1rem;
}

#quiz-form .form-check-label:hover {
 
  cursor: pointer;
  transition: color 0.3s ease; /*smooth hover transition*/
}

/*spacing around cards*/
.card {
  margin-bottom: 1rem;
  color: rgb(255, 255, 255);
  background-color: rgb(
    25,
    38,
    61
  ); /*essential to show radio buttons as input class being used in JS*/
  font-size: 1rem;
  font-weight: 300; /*ensures readbility with negative contrast*/
}

.card h1 {
  color: rgb(245, 231, 231); /* overwrites h1 text color withing card only*/
}

#overall-progress-bar {
  width: 0%;
  height: 20px;
  background-color: #007bff; /* Bootstrap primary color */
  transition: width 0.3s ease;
}

/*interacts with card color change on selection js
.card.answered {
 background-color: aqua;

}
*/

/*updates card background dependent on selection and section - see myersbriggsdiagramcolors in readme */

.card.e-selected {
 background-color: rgba(var(--extraversion-color),0.5);
}

.card.i-selected {
  background-color: rgba(var(--introversion-color),0.5);
}

.card.s-selected {
  background-color: rgba(var(--sensing-color),0.5);
}

.card.n-selected {
  background-color: rgba(var(--intuition-color),0.5);
}

.card.t-selected {
  background-color: rgba(var(--thinking-color),0.5);
}

.card.f-selected {
  background-color: rgba(var(--feeling-color),0.5);
}

.card.j-selected {
  background-color: rgba(var(--judging-color),0.5);
}

.card.p-selected {
  background-color: rgba(var(--perceiving-color),0.5);
}

*currently clashing with h1 variables, if have time fix/

.header-container .extraversion-text {
  color: var(--extraversion-color);
  font-weight: bold;
}
.header-container .introversion-text {
color: var(--introversion-color);
font-weight: bold;
}

.header-container .sensing-text {
color: var(--sensing-color);
font-weight: bold; 
}

.header-container .intuition-text {
color: var(--intuition-color);
font-weight: bold;
}

.header-container .thinking-text {
color: var(--thinking-color);
font-weight: bold;
}

.header-container .feeling-text {
color: var(--feeling-color);
font-weight: bold;
}

.header-container .judging-text {
color: var(--judging--color);
font-weight: bold;
}

.header-container .perceiving-text {
color: var(--perceiving--color);
font-weight: bold;
}
*/

#progress-container {
  width: 100%;
  background-color: white;
  height: 20px;
  border-radius: 10px;
  margin-bottom: 1.5rem;
  overflow: hidden;
}

#progress-bar{
  height: 100%;
  background-color: rgb(8, 78, 78);
  width: 0%;
  transition: width 0.3s ease-in-out
}