@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	--primary-font: "Montserrat", sans-serif;
	--secondary-font: "Varela", sans-serif;
	--primary-color: rgb(27, 38, 46);
	--secondary-color: rgb(212, 184, 191);
}

body {
  font-family: var(--primary-font);
  color: var(--primary-color);
  background-color: var(--secondary-color);
}



.index-page .container > *:not(p) {
  text-align: center;
}

.image-section {
  background-color: var(--secondary-color); 
  color: white; 
}
.image-section img{
	width: 80%;
	max-width: 600px;
	height: auto;
	display: block;

}

@media (max-width: 768px) {
	.image-section img {
		width: 90%;
		max-width: 500px;
	}
}

@media (max-width: 480px) {
	.image-section img{
		width: 100%;
	}
}